{{> nav }}
<div class="container">

  <div class="row justify-content-sm-center vertical-margin-sm">
    <div class="col-sm-6">
      <p class="text-center vertical-margin-sm">Enter the name of a Burger you would like to eat. </p>
      <form class="create-form ls">
        <div class="form-group">
          <textarea class="form-control" id="new-burger" name="burger" rows="2"></textarea>
        </div>
        <div class="text-center">
          <button class="btn vertical-margin-sm burger-btn" id="add-burger" type="submit">Add Burger</button>
        </div>
        
      </form>
    </div>
  </div>

</div>
{{> footer }}