<!-- Navigation -->
{{> nav-saved }}
<!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid background-image">
    <div class="container">
      <div class="row justify-content-center align-items-center header">
        <div class="col-10 lign-self-center ">
          <h1 class="display-3 text-center">Mongo News</h1>
        </div>

      </div>
      <div class="row justify-content-center">
        <div class="col-10 lign-self-center">
          <p class="lead text-center">Tech Edition</p>
        </div>
        
      </div>

    </div>
  </div>
<!-- NStart News Content Section -->
<div class="container-fluid">
  <!-- Saved Articles Section -->
  <div class="card section-spacing-lg ">
    <div class="card-header">
      Saved Articles
    </div>
    <div class="card-body multi-collapse collapse show" id="techCrunchCollapse">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div>
<!-- Footer -->
{{> footer }}